# Copyright (c) Facebook, Inc. and its affiliates.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: Build & Push Docker Images

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - scripts/docker/*.dockerfile
      - scripts/setup-*.sh
      - .github/workflows/docker.yml
      - docker-compose.yml
  push:
    branches: [main]
    paths:
      - scripts/docker/*.dockerfile
      - scripts/setup-*.sh
      - .github/workflows/docker.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.repository }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  BASE_NAME: ghcr.io/facebookincubator
  DOCKER_UPLOAD_CACHE: ${{ github.repository == 'facebookincubator/velox' && github.event_name != 'pull_request'}}

jobs:
  multi-arch-base:
    name: Build ${{ matrix.target }} Image on ${{ matrix.os.platform }}
    runs-on: ${{ matrix.os.runner }}
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        os:
          - {runner: ubuntu-24.04-arm, platform: arm64}
          - {runner: ubuntu-24.04, platform: amd64}
        target: [ci, pyvelox, ubuntu, fedora]

    steps:
      - name: Free Disk Space
        run: |
          # Re-used from free-disk-space github action.
          getAvailableSpace() { echo $(df -a $1 | awk 'NR > 1 {avail+=$4} END {print avail}'); }
          # Show before
          echo "Original available disk space: " $(getAvailableSpace)
          # Remove DotNet.
          sudo rm -rf /usr/share/dotnet || true
          # Remove android
          sudo rm -rf /usr/local/lib/android || true
          # Remove CodeQL
          sudo rm -rf /opt/hostedtoolcache/CodeQL || true
          # Remove Haskell
          sudo rm -rf /opt/ghc || true
          sudo rm -rf /usr/local/.ghcup || true
          # Remove Powershell
          sudo rm -rf /usr/local/share/powershell || true
          # Remove Node
          sudo rm -rf /usr/local/lib/node_modules || true
          # Remove Go
          sudo rm -rf /opt/hostedtoolcache/go || true
          # Remove PyPy
          sudo rm -rf /opt/hostedtoolcache/PyPy || true
          # Remove chromium
          sudo rm -rf /usr/local/share/chromium || true
          # Remove azure
          sudo rm -rf /opt/az || true
          # Remove miscellaneous
          sudo rm -rf \
            /usr/local/bin/aliyun \
            /usr/local/bin/azcopy \
            /usr/local/bin/bicep \
            /usr/local/bin/cmake-gui \
            /usr/local/bin/cpack \
            /usr/local/bin/helm \
            /usr/local/bin/hub \
            /usr/local/bin/kubectl \
            /usr/local/bin/minikube \
            /usr/local/bin/node \
            /usr/local/bin/packer \
            /usr/local/bin/pulumi* \
            /usr/local/bin/sam \
            /usr/local/bin/stack \
            /usr/local/bin/terraform || true
          # Show after
          echo "New available disk space: " $(getAvailableSpace)

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Bake Images
        id: bake
        uses: docker/bake-action@3acf805d94d93a86cce4ca44798a76464a75b88c # v6.9.0
        with:
          targets: ${{ matrix.target }}-${{ matrix.os.platform }}
          push: ${{ github.repository == 'facebookincubator/velox' && github.event_name != 'pull_request'}}
          # loads the image into the local image store, this allows us to export it in the next step
          load: ${{  github.event_name == 'pull_request' && matrix.target == 'ci' && matrix.os.platform == 'amd64' }}

      - name: Export Base Image
        # The dependent images are just build for amd64 and can pull from the
        # registry when not running in a PR
        if: ${{ github.event_name == 'pull_request' && matrix.target == 'ci' && matrix.os.platform == 'amd64' }}
        run: |
          # Update tag to what the dependent images expect
          docker tag "$BASE_NAME/velox-dev:centos9-amd64" "$BASE_NAME/velox-dev:centos9"
          docker save -o centos9.tar "$BASE_NAME/velox-dev:centos9"

      - name: Upload Base Image
        if: ${{ github.event_name == 'pull_request' && matrix.target == 'ci' && matrix.os.platform == 'amd64' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: centos9.tar
          name: centos9-amd64
          retention-days: 1

      - name: Export digests
        env:
          METADATA: ${{ steps.bake.outputs.metadata }}
          DIGEST_DIR: ${{ runner.temp }}/digests
        run: |
          mkdir -p "$DIGEST_DIR"
          cd "$DIGEST_DIR" || exit 1
          # Add the target for any images that shouldn't be build as multi-platform
          # into the skip list
          echo "$METADATA" | jq -r 'def skip: ["ubuntu", "fedora"];
            . | to_entries[] | .key | split("-")[0] |
            if . as $name | skip | index($name) != null then empty else . end' | \
            while read -r image_name; do
              touch "$image_name"
            done
          ls -la

      - name: Upload digest
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: digests-${{ matrix.target }}-${{ matrix.os.platform }}
          path: ${{ runner.temp }}/digests/*
          retention-days: 1

  merge:
    if: ${{ github.repository == 'facebookincubator/velox' && github.event_name != 'pull_request'}}
    needs: multi-arch-base
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download digests
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          ls -laR

          for file in *; do
            image_name="$BASE_NAME/velox-dev:$file"

            docker buildx imagetools create -t "$image_name" "${image_name}-amd64" "${image_name}-arm64"
          done

  dependent-images:
    # In PRs the merge job will be skipped but we want to run this job anyway
    if: ${{ success() || (needs.multi-arch-base.result == 'success' && needs.merge.result == 'skipped') }}
    needs: [multi-arch-base, merge]
    name: Build and Push ${{ matrix.target }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        target: [java]
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Download Base Image
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: centos9-amd64
          path: /tmp

      - name: Load Base Image
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          docker load -i /tmp/centos9.tar
          docker images
          rm /tmp/centos9.tar

      - name: Build and Push
        uses: docker/bake-action@3acf805d94d93a86cce4ca44798a76464a75b88c # v6.9.0
        with:
          targets: ${{ matrix.target }}
          push: ${{ github.repository == 'facebookincubator/velox' && github.event_name != 'pull_request'}}
